.cards{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    grid-gap: 3rem;
    justify-content: center;
    align-items: center;
}
.card img{
    height: auto;
    width: 100%;
}